@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

.home ul li {
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: 500;
}

.heading {
    width: 100%;
    gap: 15px;
    padding: 23px 14px;
    font-weight: 500;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 78vh;
    position: relative;
}

.footer {
    font-size: 10px;
    color: gray;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a {
    color: gray;
}

.right {
    margin: 16px 0;
}

.header {
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header > * {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > * {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.play {
    width: 35px;
    height: 35px;
    background-color: #1ed760;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 90px;
    right: 15px;
    opacity: 0;
    transition: all 1s ease-out;
}

/* making the scrollbar dark */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 6px;
}

.buttons > * {
    margin: 0 12px;
}

.signupBtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupBtn:hover {
    font-size: 17px;
    color: white;
}

.loginBtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.loginBtn:hover {
    font-size: 17px;
}
